body {
  background-color: #000; /* Fundo preto */
  color: #fff; /* Letras brancas */
  margin: 0;
  font-family: Arial, sans-serif;
}

.app {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.letter-button {
  font-size: 24px;
  padding: 10px 20px;
  cursor: pointer;
  background-color: #333; /* Fundo preto */
  color: #fff; /* Letras brancas */
  border: 1px solid #fff; /* Borda branca */
  border-radius: 5px; /* Bordas arredondadas */
}

.letter-button:hover {
  background-color: #555; /* Fundo preto mais claro ao passar o mouse */
}

.sequence-container {
  background-color: #000; /* Fundo preto */
  color: #fff; /* Letras brancas */
  padding: 20px;
  border-radius: 10px; /* Bordas arredondadas */
  display: inline-block;
  margin-bottom: 20px;
}

.result-screen {
  background-color: #000; /* Fundo preto */
  color: #fff; /* Letras brancas */
  padding: 20px;
  border-radius: 10px; /* Bordas arredondadas */
  margin-top: 20px;
  text-align: center;
}

.result-screen h2 {
  font-size: 36px;
  margin-bottom: 20px;
}

.result-screen p {
  font-size: 24px;
  margin-bottom: 20px;
}

.restart-button {
  font-size: 24px;
  padding: 15px 30px;
  cursor: pointer;
  background-color: #ff5722; /* Fundo laranja */
  color: #fff; /* Letras brancas */
  border: none;
  border-radius: 10px; /* Bordas arredondadas */
  transition: background-color 0.3s ease;
}

.restart-button:hover {
  background-color: #e64a19; /* Fundo laranja mais escuro ao passar o mouse */
}

.congrats-message {
  font-size: 28px;
  font-weight: bold;
  color: #4caf50; /* Verde */
  margin-bottom: 20px;
}

.error-message {
  font-size: 28px;
  font-weight: bold;
  color: #f44336; /* Vermelho */
  margin-bottom: 20px;
}
